{% extends 'base_user.html' %}

{% block main %}

  <div class="container center-block">
    <div class="vertical-center col-xs-12 col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            添加笔记
          </h3>
        </div>
        <div class="panel-body">

          <form class="form-horizontal" method="post" action="{% url 'user:add_note' user_info.username %}" style="">
            {% csrf_token %}
            <div class="form-group">
              <div class="col-xs-12">
                <textarea id="note-info-textarea" style="width: 100%;" name="info" placeholder="添加笔记"></textarea>

              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-default">提 交</button>
              </div>
            </div>
          </form>
        </div>
        {% if errors %}
          {% for error in errors %}
            <div><p class="bg-danger">{{ error }}</p></div>

          {% endfor %}
        {% endif %}
      </div>

    </div>
  </div>

{% endblock %}